:root {
  --white: #fff;
  --black: #000;
  --whiteText: #fff;
  --blueLinkHover: #73ebeb;
  --blue: #037ec6;
  --grayText: #666666;
  --lightGrayText: #c4c4c4;
  --lightGrayBg: #f5f5f5;
  --grayBg: #808080;
  --redcolor: #e74c3c;
  --yellowcolor: #fbdc4d;
  --redCyber: #ec0b36;
  --greenCyber: #00ff80;
  --redCyber50: #ec0b3485;
  --blueCyber: #00ffff;
  --pincCyber: #fd6dfd;
  --metaHtml: #ff861a;
  --metaPug: #c24215;
  --metaScss: #c69;
  --metaLess: #07f;
  --metaVue: #42b983;
  --metaCss: #039be5;
  --metaBootstrap: #a062c7;
  --metaJs: #ffd200;
  --metajQuery: #044d85;
  --metaPhp: #777bb4;

  --bgHeaderSlide: linear-gradient(140deg, #e2d13d 30%, #ec6948);
  --bgHeaderSlideBefore: linear-gradient(140deg, #e23d87 30%, #48ecb5);
  --bgContactForm: linear-gradient(140deg, #e23d87 30%, #48ecb5);
  --bgSidebarNight: #7e90b9;

  --borderContactForm: #eaeaea;

  --fontNeon: "Neoneon";
  --fontRomanReg: "L890-Roman-Regular";
  --fontRomanBold: "L890-Roman-Bold";
  --fontPagination: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;

  --notificationSuccess: #a0d561;
  --notificationError: #dd4942;

  --pageBg: url("https://firebasestorage.googleapis.com/v0/b/myportfolio-92ca1.appspot.com/o/snow-bg.jpg?alt=media&token=2bfb19e2-88fb-4b03-8b35-9dc50127aeb7");
  --portfolioBgWeb: url("~@/assets/img/portfolio/bg.webp");
  --portfolioBgMob: url("~@/assets/img/portfolio/portfolio-mob.jpg");
  --timelineIcon: url("~@/assets/img/sprite/timeline.png");
  --contactBg: url("~@/assets/img/contact/01.webp");
  --contactBgForm: url("~@/assets/img/contact/cyber-contact-form.jpg");
  --footerBgInner: url("~@/assets/img/footer/bg-footer.png");
  --paginationBtnBg: url("~@/assets/img/btn/pixel.png");
}
