@font-face {
	font-family: 'Neoneon';
	src: url('../libs/fonts/Neoneon.eot');
	src: local('☺'), url('../libs/fonts/Neoneon.woff') format('woff'), url('../libs/fonts/Neoneon.ttf') format('truetype'), url('../libs/fonts/Neoneon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}