section.card-post
    .container
        .card-post__nav
            h2.card-post__nav-title 
                span Верстка интернет магазина 
                span “Медиамаркет”
            .card-post__nav-meta 
                span.meta-html HTML
                span.meta-css CSS
                span.meta-js JS
                span.meta-bootstrap Bootstrap
                span.meta-jquery jQuery
                span.meta-php PHP
        .card-post__content
            .card-post__content-desc
                +link-project("#", "index.html")
                +about-project()
                    p Описание этого замечательного проекта. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                +detals("Учебный проект", "Учебный проект", "Ссылка на сайт", "www.media-markt.com", "Адаптивная верстка, HTML5, CSS3, Bootstrap grid, JavaScript, jQuery.", "Мобильная навигация, мега-меню, карусель OwlCarousel, ajax корзина, предпросмотре товара, календарь, datepicker, валидация форм, маска ввода номера телефона, лайтбоксы, сортировка товаров.")
            .card-post__content-img
                img(src="./img/portfolio/02.jpg", alt="02.jpg")
        .card-post__pagination
            +pagination-card("forest-travel.html", "travel-blog.html")