section.header
	.container
		.header-wrap
			.header__text.wow.animated.fadeInUp
				h2.header__text-title.neon <span>Ал</span>ексан<span>д</span>р
				h2.header__text-title.neon Вор<span>обь</span>ев

				.header__text-subtitle
					p Верстальщик сайтов, Frontend-разработчик. Оперативная верстка. Работаю с соблюдением сроков и выполнением ТЗ. 
				.header__text-button
					+button-01("#scrolltarget", "Познакомиться")
					+button-02("contact.html", "Контакты")
			.header__avatar.wow.animated.fadeInUp
				.header__avatar_css
					h4.avatar__title CSS
					.avatar-css__img
						img(src="./img/header/css.png", alt="css.png")
				.header__avatar_html
					h4.avatar__title HTML
					.avatar-html__img
						img(src="./img/header/html.png", alt="html.png")
				.header__avatar_js
					h4.avatar__title JS
					.avatar-js__img
						img(src="./img/header/js.png", alt="js.png")
				img(src="./img/header/master.webp", alt="master")
	.big-container
		.header__bg-img.wow.animated.fadeInUp
			.header__carousel.owl-carousel.owl-theme
				.owl-carousel-item
					img(src="./img/header/cert/html.webp", alt="cert-html")
				.owl-carousel-item
					img(src="./img/header/cert/html-pro.webp", alt="cert-html-pro")
				.owl-carousel-item
					img(src="./img/header/cert/js.webp", alt="cert-js")
			.header__carousel-row-btn
				button.header__carousel-btn.header__carousel-btn-prev(type='button' id='header-carousel-prev')
					span
				button.header__carousel-btn.header__carousel-btn-next(type='button' id='header-carousel-next')
					span
	.container
		.header__bg-wrap
			.header__bg-item.wow.animated.fadeInUp
				.header__bg-title.neon Чт<span>о</span> я ум<span>е</span>ю:
				.header__bg-skills
					ul
						li — Html/Pug, Css/Scss/Less, Javascript/Typescript
						li — pixel perfect, полное соответствие макету.
						li — верстаю с сеткой или без.
						li — адаптивная верстка под мобильные устройства.
						li — с Bootstrap и без него.
				.header__bg-button
					+button-01("portfolio.html", "Смотреть работы")
			.header__bg-item.wow.animated.fadeInUp
				.header__bg-title.neon На св<span>язи</span>:
				.header__bg-social
					a(href="https://vk.com/id65683827", target="_blank", class="social-vk")
						i(class="fa fa-vk fa-2x", aria-hidden="true")
					a(href="https://wa.me/+79253215539", target="_blank", class="social-facebook")
						i(class="fa fa-whatsapp fa-2x", aria-hidden="true")
					a(href="mailto:sasha89253215539@yandex.ru", target="_blank", class="social-email")
						i(class="fa fa-envelope fa-2x", aria-hidden="true")
					a(href="https://telegram.im/@Voojaxx", target="_blank", class="social-telegram")
						i(class="fa fa-telegram fa-2x", aria-hidden="true")
					a(href="https://github.com/AleksandrVorobyov", target="_blank", class="social-github")
						i(class="fa fa-github fa-2x", aria-hidden="true")
				a(href="mailto:sasha89253215539@yandex.ru").header__bg-email sasha89253215539@yandex.ru