.card-post {
  position: relative;
  padding: 30px 15px;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 30%,
      $redCyber 100%
    );
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 30%,
      $redCyber 100%
    );
  }
}

.card-post__nav {
  margin-bottom: 40px;
  max-width: 750px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card-post__nav-title,
.card-post__nav-desc {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  font-size: 28px;
  font-family: "Neoneon";
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  z-index: 4;

  &::after {
    position: absolute;
    content: "";
    background-color: $redCyber;
    height: 12px;
    width: 100%;
    bottom: -8px;
    left: 0;
    z-index: -2;
  }

  @media (min-width: 480px) {
    font-size: 36px;
  }

  @media (min-width: 600px) {
    font-size: 48px;

    &::after {
      bottom: 5px;
    }
  }
}

.card-post__nav-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-post__nav-meta span {
  font-size: 16px;
  font-family: "L890-Roman-Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;

  @media (min-width: 600px) {
    font-size: 26px;
  }

  @media (min-width: 1170px) {
    font-size: 20px;
  }
}

.card-post__content {
  position: relative;
  display: flex;
  padding: 40px 0;
  flex-direction: column-reverse;

  @media (min-width: 1170px) {
    flex-direction: row;
  }
}

.card-post__content-desc {
  max-width: 560px;
  margin: auto;

  @media (min-width: 1170px) {
    margin-right: 30px;
    max-width: 460px;
  }
}

.card-post__content-carousel {
  display: block;
  position: relative;
  border: 10px double $redCyber;
  height: 500px;
  max-width: 700px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 19px 19px 100px 0px rgb(196, 219, 233);
  margin: auto;
  margin-bottom: 50px;

  img {
    width: 100%;
  }

  @media (min-width: 600px) {
    height: 750px;
  }

  @media (min-width: 1170px) {
    margin: 0;
    max-width: 648px;
  }
}

.carousel-project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-project.owl-carousel .owl-carousel-item {
  width: 100%;
  height: 500px;

  @media (min-width: 600px) {
    height: 750px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel-project .owl-carousel-item img {
  cursor: pointer;
}

.carousel-project .owl-prev {
  position: absolute;
  top: 50%;
  left: 20px;
  outline: none;
  transform: translate(0%, -50%);

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.589);
    background-color: #00000081;
    border: 5px solid rgba(0, 0, 0, 0.603);
    font-size: 4em;
    border-radius: 50%;
    padding-bottom: 8px;
    padding-right: 3px;
    width: 80px;
    height: 80px;
    transition: 0.4s linear;

    &:hover {
      color: #73ebeb;
      border-color: #73ebeb;
      background-color: #6e343454;
    }
  }
}

.carousel-project .owl-next {
  position: absolute;
  top: 50%;
  right: 20px;
  outline: none;
  transform: translate(0%, -50%);

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.589);
    background-color: #00000081;
    border: 5px solid rgba(0, 0, 0, 0.603);
    border-radius: 50%;
    padding-bottom: 8px;
    padding-left: 3px;
    width: 80px;
    height: 80px;
    transition: 0.4s linear;

    &:hover {
      color: #73ebeb;
      border-color: #73ebeb;
      background-color: #6e343454;
    }
  }
}

.card-post__pagination {
  display: flex;
  margin: 40px 0 80px;
  z-index: 50;

  .pagination + .pagination {
    margin-left: 30px;
  }
}

.pagination {
  position: relative;
  width: 100%;
  height: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out 0.6s, box-shadow 0.4s ease-out 0.6s;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-reflect: below 10px linear-gradient(transparent, #0002);
}

.pagination:hover {
  background: #ec0b36 url("../img/btn/pixel.png");
  transition-delay: 0.8s;
  animation: pixelBtn 0.8s steps(8) forwards;
  background-size: 180px;
  box-shadow: 0px 0px 10px #ec0b36, 0px 0px 20px #ec0b36, 0px 0px 40px #ec0b36;
}

.pagination::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 2px solid #00ffff;
  border-left: 2px solid #00ffff;
  transition: all 0.4s linear 0.2s;
}

.pagination::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 2px solid aqua;
  border-right: 2px solid aqua;
  transition: all 0.4s linear 0.2s;
}

.pagination:hover::before {
  width: 100%;
  height: 100%;
}

.pagination:hover::after {
  width: 100%;
  height: 100%;
}