.header {
  position: relative;
  padding-bottom: 120px;
  padding-top: 50px;
  overflow-x: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(253, 109, 253, 1) 100%
    );
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(253, 109, 253, 1) 100%
    );
  }
}

.header-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 140px 15px 50px;
  margin: auto;

  @media (min-width: 1170px) {
    padding: 100px 15px 50px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
  }
}

.header__text {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  max-width: 585px;

  @media (min-width: 1170px) {
    margin-top: 0;
    text-align: left;
  }
}

.header__text-title {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 50px;
  font-family: "Neoneon";
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  z-index: 3;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    clear: both;
    background: #fd6dfd;
    width: 10%;
    height: 10px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
    animation: nameLogo 6s ease-in-out 0s infinite;
    border-radius: 10px 0;
  }

  @media (min-width: 480px) {
    font-size: 70px;
  }

  @media (min-width: 600px) {
    font-size: 90px;
  }
}

.header__text-subtitle p {
  font-size: 24px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: #fff;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: 600px) {
    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 24px;
  }
}

.header__text-button {
  display: flex;
  justify-content: center;

  .button-01 {
    display: none;
  }

  @media (min-width: 768px) {
    .button-01 {
      display: inline-block;
    }

    * + * {
      margin-left: 60px;
    }
  }

  @media (min-width: 1170px) {
    justify-content: flex-start;
  }
}

.header__avatar {
  position: relative;
  box-shadow: 10px 14px 16px -3px rgba(34, 60, 80, 0.18);
  height: 320px;
  width: 320px;
  transition: 1.2s ease-in-out;
  border-radius: 50%;
  z-index: 5;
  padding: 10px;
  background-color: #fd6dfd;
  margin: 0 auto;

  @media (min-width: 600px) {
    height: 430px;
    width: 430px;
  }

  img {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.header__avatar_html {
  position: absolute;
  top: -100px;
  left: -35px;
  width: 150px;
  height: 150px;
  transition: 0.5s linear;

  @media (min-width: 600px) {
    left: 0px;
  }

  &:hover {
    transform: translateY(-15px);

    .avatar__title {
      color: #fd6dfd;
      text-shadow: 1px 1px 2px #000000;
    }
  }
}

.header__avatar_css {
  position: absolute;
  top: -100px;
  right: -35px;
  width: 150px;
  height: 150px;
  transition: 0.5s linear;

  @media (min-width: 600px) {
    right: 0px;
  }

  &:hover {
    transform: translateY(-15px);

    .avatar__title {
      color: #fd6dfd;
      text-shadow: 1px 1px 2px #000000;
    }
  }
}

.header__avatar_js {
  position: absolute;
  top: -140px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, 0);
  transition: 0.5s linear;

  &:hover {
    transform: translate(-50%, -15px);

    .avatar__title {
      color: #fd6dfd;
      text-shadow: 1px 1px 2px #000000;
    }
  }
}

.avatar__title {
  font-family: "L890-Roman-Bold";
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  transition: 0.5s linear;
}

.avatar-html__img {
  width: 150px;
  height: 150px;

  img {
    border-radius: 0;
  }
}

.avatar-css__img {
  width: 150px;
  height: 150px;

  img {
    border-radius: 0;
  }
}

.avatar-js__img {
  width: 150px;
  height: 150px;

  img {
    border-radius: 0;
  }
}

.header__bg-img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 900px;
  border-radius: 15px;
  margin-bottom: 50px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(253, 109, 253, 1) 100%
    );
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(253, 109, 253, 1) 100%
    );
  }

  @media (min-width: 1170px) {
    background: radial-gradient(
      circle,
      rgba(253, 109, 253, 0.5130427170868348) 0%,
      rgba(0, 0, 0, 0.3533788515406162) 100%
    );
    box-shadow: 0px 28px 100px 0px #fd6dfd;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}

.header__carousel {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px;
  z-index: 40;
  overflow: hidden;

  .owl-carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: contain;
  }
}

.header__bg-wrap {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 15px;

  @media (min-width: 1170px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.header__bg-item {
  background-color: rgba(23, 115, 141, 0.25);
  border-radius: 10px;
  padding: 15px;

  @media (min-width: 1170px) {
    background: transparent;
    border-radius: 5px;
    padding: 10px;
  }
}

.header__bg-item:last-child {
  margin-bottom: 30px;

  @media (min-width: 1170px) {
    margin-bottom: 0;
  }
}

.header__bg-title {
  margin-bottom: 50px;
  font-size: 40px;
  font-family: "Neoneon";
  color: #fff;
  font-weight: 700;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);

  @media (min-width: 480px) {
    font-size: 50px;
  }

  @media (min-width: 600px) {
    font-size: 54px;
  }

  @media (min-width: 1170px) {
    font-size: 40px;
  }
}

.header__bg-skills ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: #fff;
  line-height: 1.2;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);

  @media (min-width: 600px) {
    font-size: 34px;
  }

  @media (min-width: 1170px) {
    font-size: 24px;
  }
}

.header__bg-button {
  display: flex;
  margin-left: 20px;

  @media (min-width: 1170px) {
    margin-left: 0;
  }
}

.header__bg-social {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
  z-index: 5;

  a {
    position: relative;
    margin-right: 20px;
    color: #fff;
    transition: 0.5s ease-in-out;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header__bg-social .fa-2x {
  font-size: 48px;
  text-shadow: 0 0 5px #fd6dfd, 0 0 10px #fd6dfd, 0 0 20px #fd6dfd,
    0 0 40px #fd6dfd, 0 0 80px #fd6dfd, 0 0 90px #fd6dfd, 0 0 100px #fd6dfd,
    0 0 150px #fd6dfd;
  transition: 0.5s ease-in-out;

  @media (min-width: 600px) {
    font-size: 64px;
  }

  @media (min-width: 1170px) {
    font-size: 32px;
  }

  &:hover {
    color: #73ebeb;
  }
}

.header__bg-email {
  font-size: 28px;
  font-family: "L890-Roman-Regular";
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
  text-shadow: 0px 3px 42.32px rgba(255, 255, 255, 0.004);
  transition: 0.5s ease-in-out;

  &:hover {
    color: #039be5;
  }

  &:focus,
  &:active {
    color: #ea736d;
  }

  @media (min-width: 600px) {
    font-size: 34px;
  }

  @media (min-width: 1170px) {
    font-size: 24px;
  }
}

.header__carousel-row-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 80;
}

.header__carousel-btn {
  position: relative;
  width: 30px;
  height: 80px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  outline: none;
  background: rgba(0, 0, 0, 1);
  opacity: .6;
  transition: opacity .3s ease-in 0s, box-shadow .3s ease-in .3s;

  &::before {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 4px;
    height: 30px;
    background: #ffffff;
  }

  &::after {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 4px;
    height: 30px;
    background: #ffffff;
  }
}

.header__carousel-btn-next {
  &::before {
    transform: translateX(-50%) rotate(-45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(45deg);
  }
}

.header__carousel-btn-prev {
  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}

.header__carousel-btn:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px #fd6dfd, 0px 0px 20px #fd6dfd, 0px 0px 30px #fd6dfd;
}