.navigation {
  position: relative;
  padding-top: 75px;
  background-color: #f4f8f9;

  @media (min-width: 1170px) {
    background-color: transparent;
    padding: 75px 0px;
  }

  &:after {
    position: absolute;
    bottom: -50px;
    content: "";
    width: 100%;
    height: 50px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 30%,
      rgba(251, 220, 77, 0.8) 100%
    );
  }
}

.navigation-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
  
  @media (min-width: 1170px) {
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: none;
  }
}

.navigation__logo {
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
  display: inline-block;
  font-size: 82px;
  font-weight: 400;
  font-family: "Lobster", cursive;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d));
  background-image: gradient( linear, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
  transition: 0.8s ease-in-out;
  z-index: 5;
  margin-bottom: 50px;

  &:hover {
      transition: 0.8s ease-in-out;
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #26e2e2), color-stop(0.4, #f52516cd), color-stop(.8, #eca03d));
      background-image: gradient( linear, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d));
    &::after {
      transform: rotatex(180deg);
    }
  }

  &::after {
    position: absolute;
    content: "";
    clear: both;
    background-color: $yellowcolor;
    width: 100%;
    height: 10px;
    bottom: -6px;
    left: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;

    @media (min-width: 1170px) {
      width: 67px;
    }
  }
  
  @media (min-width: 1170px) {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0px;
    font-size: 52px;
  }
}

.nav {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #000), color-stop(0.4, #000));
  background-image: gradient( linear, color-stop(0, #000), color-stop(0.4, #000));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  text-decoration: none;
  transition: border 0.5s ease-in-out;
  border-bottom: 5px solid transparent;
  z-index: 5;
  margin-bottom: 50px;

  &:after {
    position: absolute;
    content: attr(data-hover);
    overflow: hidden;
    top: 0px;
    left: 0;
    max-width: 0;
    border-bottom: 7px solid #fbdc4d;
    transition: 0.5s linear;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d));
    background-image: gradient( linear, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d));
    color:transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
  }

  &:active:after {
    width: 100%;
  }

  &--active {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d)) !important;
    background-image: gradient( linear, color-stop(0, #2bb0af), color-stop(0.4, #ff5549cd), color-stop(.8, #e0bc8d)) !important;
    color:transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    border-bottom: 7px solid #fbdc4d;

    &:after {
      width: 100%;
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 0;
  }
}

.nav:not(.nav--active):hover:after {
  max-width: 100%;
}

.navigation__link-nav ul {
  display: flex;
  justify-content: center;
  transform: translateY(5px);
  margin: 0;
}

.navigation__link-nav li {
  margin-right: 70px;
  list-style-type: none;
  transition: 0.5s ease-in-out;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link-nav a {
  font-size: 36px;

  @media (min-width: 1170px) {
    font-size: 22px;
  }
}

.navigation__social {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  z-index: 5;

  @media (min-width: 1170px) {
    border-bottom: 5px solid rgb(251, 220, 77);
  }

  a {
    position: relative;
    margin-right: 30px;
    color: black;
    transition: 0.5s ease-in-out;
    z-index: 5;

    @media (min-width: 1170px) {
      margin-right: 20px;
    }
  
    &:last-child {
      margin-right: 0;
    }
  }

  .fa-2x {
    font-size: 4em;

    @media (min-width: 1170px) {
      font-size: 2em;
    }
  }
}
