.night-sun {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 15;
  height: 100px;
  width: 100px;
  right: 60px;
  top: 150px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 35%;
  transition: 0.5s ease-in-out;
  animation-name: spin1;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &:hover {
    animation: none;
    background-color: rgb(230, 221, 221);
  }

  i:hover {
    display: inline-block;
    color: #039be5;
    transition: 0.5s ease-in-out;
  }

  @media (min-width: 1170px) {
    right: 150px;
    height: 50px;
    width: 50px;
  }
}

.night-sun:hover::after {
  content: attr(data-title);
  position: absolute;
  left: -35px;
  right: 0;
  bottom: -70px;
  z-index: 2;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 150px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 10px;
  transition: 0.5s ease-in-out;

  @media (min-width: 1170px) {
    font-size: 12px;
    bottom: -50px;
    width: 100px;
  }
}

.night-sun:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  right: 0;
  bottom: -30px;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #000000;
  transition: 0.5s ease-in-out;

  @media (min-width: 1170px) {
    left: 10px;
  }
}

.night {
  background: #fff;

  .night-sun {
    color: white;
  }

}

.night {
  .page__background {
    display: none;
  }

  .navigation {
    background: transparent;

    &::after,
    &::before {
      content: none;
    }
  }

  .logo {
    text-shadow: none;
    font-family: "Open Sans", sans-serif;
    color: black;

    &:hover {
      text-shadow: none;
    }

    &::after {
      border-bottom: 7px solid $yellowcolor;
    }
  }

  .nav {
    text-shadow: none;
    font-family: "Open Sans", sans-serif;
    color: black;

    &:after {
      border-bottom: 7px solid $yellowcolor;
    }

    &:hover {
      color: #73ebeb;
    }

    &--active {
      color: #73ebeb;
      border-bottom: 7px solid $yellowcolor;
    }
  }

  .navigation__social {
    @media (min-width: 1170px) {
      border-bottom: 5px solid $yellowcolor;
    }
  }

  .fa-2x {
    color: black;
    text-shadow: none;
  }
}

.night {
  .button-01 {
    font-family: "Open Sans", sans-serif;
    background-color: $yellowcolor;
    border: 4px solid $yellowcolor;

    &:hover,
    &:active {
      background-color: #f8ce42;
      border: 4px solid #f8ce42;
    }

    &::after, &::before {
      content: none;
    }
  }

  .button-02 {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    border: 4px solid #000;

    &::after, &::before {
      content: none;
    }
  }

  .card {
    border: 4px solid $yellowcolor;
  }

  .card__img {
    border-bottom: 4px solid $yellowcolor;
  }

  .neon span {
    animation: none;
  }
}

.night {
  .header {
    background: transparent;

    &::before,
    &::after {
      display: none;
    }
  }

  .header__text-subtitle p {
    color: rgb(0, 0, 0);
  }

  .header__text-title {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);

    &::after {
      background-color: $yellowcolor;
    }
  }

  .header__bg-title,
  .header__bg-title {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
  }

  .header__bg-skills li {
    color: rgb(0, 0, 0);
  }

  .header__bg-email {
    color: rgb(0, 0, 0);

    &:hover {
      color: #039be5;
    }

    &:active {
      color: #ea736d;
    }
  }

  .header__bg-img {
    background-image: url("../img/header/03.jpg");
    border: 5px solid $yellowcolor;
    box-shadow: none;

    &::after {
      background: transparent;
    }
    &::before {
      background: transparent;
    }
  }

  .header__bg-item {
    background-color: #7e90b9;
    border-radius: 5px;
    padding: 10px;

    @media (min-width: 1170px) {
      background: transparent;
    }
  }

  .header__avatar {
    background-color: $yellowcolor;
  }

  .header__avatar_css:hover .avatar__title,
  .header__avatar_js:hover .avatar__title,
  .header__avatar_html:hover .avatar__title {
    color: $yellowcolor;
  }

  .avatar__title {
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
}

.night .portfolio {
  &::after {
    height: 0;
  }
  &::before {
    height: 0;
  }

  .portfolio__title {
    &::after {
      background-color: $yellowcolor;
    }
  }

  .portfolio__title,
  .portfolio__nav-item {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    transition: 0.5s ease-in-out;
  }

  .portfolio__nav-item:hover {
    color: #ea736d;
  }
}

.night .portfolio__nav {
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;

    &:hover {
      color: #73ebeb;
      border-bottom-color: $yellowcolor;
    }
}

.checkbox-all:checked + label,
.checkbox-html:checked + label,
.checkbox-less:checked + label,
.checkbox-scss:checked + label,
.checkbox-pug:checked + label,
.checkbox-js:checked + label {
  color: #73ebeb;
  border-bottom-color: $yellowcolor;
}
}

.night .timeline {
  background: transparent;

  &::after {
    display: none;
  }
  &::before {
    display: none;
  }

  .timeline__title {
    &::after {
      background-color: $yellowcolor;
    }
  }

  .timeline__title,
  .timeline__column-title,
  .timeline__column-desc {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
  }

  .timeline__column-subtitle {
    color: rgb(0, 0, 0);
  }

  .timeline__column-item {
    &::before,
    &::after {
      background-color: #7e90b9;
    }
  }

  .timeline__column-item-img {
    background-color: #7e90b9;
  }
}

.night .contact {
  background: linear-gradient(#50505080, #50505080),
    url("../img/contact/01.jpg") top left / cover no-repeat;

  .contact-title {
    font-family: "Open Sans", sans-serif;

    &::after {
      background-color: $yellowcolor;
    }
  }

  .contact-title,
  .timeline__column-title,
  .timeline__column-desc {
    color: rgb(0, 0, 0);
  }

  .contact__info-desc {
    color: rgb(255, 255, 255);
  }

  .contact__info::after {
    content: none;
  }

  .rounded .rounded-row:before {
    background-color: $yellowcolor;
  }

  .contact__form {
    box-shadow: 0px 28px 100px 0px #5a5a5a;
  }
}

.night .footer {
  background: #7e90b9;

  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}

.night .footer-inner {
  background: #7e90b9;
  height: 300px;
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }

  .footer-inner-column {
    height: 300px;
  }
  

  .footer-inner__title,
  p {
    color: rgb(0, 0, 0);
  }
}

.night .card-post {

  &::after {
    display: none;
  }
  &::before {
    display: none;
  }

  p,
  h2,
  h3,
  h4,
  svg {
    color: rgb(0, 0, 0);
    fill: rgb(0, 0, 0);
    border-bottom-color: $yellowcolor;
  }

  a {
    color: $yellowcolor;
  }

  input {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    border: none;
  }

  .card-post__nav-title,
  .card-post__nav-desc {
    font-family: "Open Sans", sans-serif;

    &::after {
      background-color: $yellowcolor;
    }
  }

  .card-post__content-carousel {
    background-color: $yellowcolor;
  }
}

.night .header::after {
  content: none;
}

.night .link-project-item i {
  color: $yellowcolor;
}

.night label {
  color: #fff;
}

.fa-3x {
  font-size: 6em !important;

  @media (min-width: 1170px) {
    font-size: 3em !important;
  }
}

.night .timeline__column-item-text {
  background: #7e90b9;

  &::after {
    background: #7e90b9;
  }
  &::before {
    background: #7e90b9;
  }
}

.night .full-page {
  .full-page-wrap {
    background-color: $yellowcolor;
  }

  .full-page__title h2 span {
    color: $yellowcolor;
  }

  .full-page__desc {
    border-bottom-color: $yellowcolor;
  }

  .full-page__img + .full-page__img {
    border-top-color: $yellowcolor;
  }
}


.night .page__link::before {
  border-left-color: #000;
}