.social-vk:hover {
  z-index: 5;
}

.social-facebook:hover {
  z-index: 5;
}

.social-email:hover {
  z-index: 5;
}

.social-telegram:hover {
  z-index: 5;
}

.social-github:hover {
  z-index: 5;
}

.social-vk,
.social-facebook,
.social-email,
.social-telegram,
.social-github {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  @media (min-width: 420px) {
    width: 55px;
    height: 55px;
  }

  @media (min-width: 1170px) {
    width: 35px;
    height: 35px;
  }
}

.social-vk::after,
.social-facebook::after,
.social-email::after,
.social-telegram::after,
.social-github::after {
  position: absolute;
  display: none;
  content: "";
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(200, 211, 221, 0.5);
  z-index: -1;
  transform: translate(-50%, -50%);

  @media (min-width: 420px) {
    width: 70px;
    height: 70px;
  }

  @media (min-width: 1170px) {
    width: 50px;
    height: 50px;
  }
}

.social-vk:hover::after,
.social-facebook:hover::after,
.social-email:hover::after,
.social-telegram:hover::after,
.social-github:hover::after {
  display: block;
  z-index: -1;
}
