.button-01,
.button-02 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  background-color: $redCyber50;
  border-radius: 40px;
  border: 4px solid $redCyber;
  font-size: 18px;
  font-family: "Neoneon";
  color: #73ebeb;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  outline: none;

  &:hover {
    transition-delay: 1.5s;
    box-shadow: 0 0 10px $redCyber50, 0 0 20px $redCyber50, 0 0 40px $redCyber50,
      0 0 80px $redCyber50, 0 0 160px $redCyber50;
  }

  span {
    z-index: 25;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -20px;
    content: "";
    transform: translate(0%, -50%);
    height: 4px;
    width: 20px;
    border-radius: 40px;
    background: $redCyber;
    box-shadow: 8px -8px 0px $redCyber, 8px 8px 0px $redCyber;
    z-index: -1;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }

  &:hover::before {
    width: 60%;
    height: 100%;
    left: -4px;
    box-shadow: 100% 0 0 $redCyber, 100% 0 0 $redCyber;
    transition-delay: 0s, 0.5s, 1s, 1s;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -20px;
    content: "";
    transform: translate(0%, -50%);
    height: 4px;
    width: 20px;
    border-radius: 40px;
    background: $redCyber;
    box-shadow: -8px -8px 0px $redCyber, -8px 8px 0px $redCyber;
    z-index: -1;
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }

  &:hover::after {
    width: 60%;
    height: 100%;
    right: -4px;
    box-shadow: 100% 0 0 $redCyber, 100% 0 0 $redCyber;
    transition-delay: 0s, 0.5s, 1s, 1s;
  }

  @media (min-width: 400px) {
    font-size: 24px;
  }

  @media (min-width: 600px) {
    font-size: 34px;
  }

  @media (min-width: 1170px) {
    font-size: 22px;
  }
}

.button-02 {
  filter: hue-rotate(240deg);
}

.card {
  width: 100%;
  max-width: 480px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  box-shadow: 10px 14px 16px -3px rgba(34, 60, 80, 0.3);
  border-radius: 44px;
  border: 6px solid $redCyber;
  transition: 0.3s linear, border 0.5s ease-in-out, transform 1.2s linear;
  background: rgb(0, 0, 0);
  z-index: 30;

  &:hover {
    transform: scale(1.1);

    .card__title {
      transition: 1s linear;
      color: $redCyber;
      text-decoration: underline;
      text-shadow: 1px 1px 2px black, 0 0 1em black;
    }
  }

  @media (min-width: 1020px) {
    width: 480px;
  }

  @media (min-width: 1170px) {
    width: 360px;
  }
}

.card__img-wrap {
  position: relative;
  height: 200px;
  width: 100%;
  perspective: 900px;
  z-index: 30;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/card/bg/card-bg.jpg") center center / cover no-repeat;
  border-radius: 38px 38px 0 0;

  @media (min-width: 400px) {
    height: 250px;
  }

  @media (min-width: 440px) {
    height: 300px;
  }

  @media (min-width: 600px) {
    height: 360px;
  }

  @media (min-width: 1020px) {
    height: 280px;
  }

  @media (min-width: 1170px) {
    height: 260px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (min-width: 1020px) {
      height: 280px;
    }

    @media (min-width: 1170px) {
      height: 260px;
    }
  }

  figure {
    position: absolute;
    margin: 0;
    top: -1px;
    display: block;
    height: calc(100% + 2px);
    width: calc(100% + 1px);
    backface-visibility: hidden;
    border-radius: 38px 38px 0 0;
    overflow: hidden;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.2s linear;
  transform-style: preserve-3d;
  transform-origin: left center;
  z-index: 50;
}

.card:hover .card__btn {
  z-index: 40;
}

.card:hover .card__img {
  transform: rotateY(-175deg);
}

.card__img-back {
  transform: rotateY(180deg);
}

.card__text {
  padding-top: 20px;
  text-align: center;
  border-top: 6px solid $redCyber;
}

.card__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: "Neoneon";
  color: aqua;
  padding: 20px 40px;
  background: $redCyber;
  cursor: pointer;
  z-index: 25;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, rgba(0, 0, 17, 0.288));
  transition-delay: 0.6s;
  box-shadow: 0 0 10px #6decfd, 0 0 20px #6decfd, 0 0 40px #6decfd,
    0 0 60px #6decfd;

  @media (min-width: 440px) {
    font-size: 34px;
    line-height: 34px;
  }
}

.card__title {
  font-size: 26px;
  font-family: "L890-Roman-Bold";
  color: rgb(0, 0, 0);
  font-weight: bold;

  @media (min-width: 600px) {
    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 26px;
  }
}

.card__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: rgb(0, 0, 0);

  @media (min-width: 600px) {
    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 20px;
  }
}

.meta-html {
  background-color: rgb(255, 134, 26);
}

.meta-pug {
  background-color: #c24215;
}

.meta-scss {
  background-color: #c69;
}

.meta-less {
  background-color: #07f;
}

.meta-css {
  background-color: rgb(3, 155, 229);
}

.meta-bootstrap {
  background-color: rgb(160, 98, 199);
}

.meta-js {
  background-color: rgb(255, 210, 0);
}

.meta-jquery {
  background-color: rgb(4, 77, 133);
}

.meta-php {
  background-color: rgb(119, 123, 180);
}

.white-color {
  background-color: #fff;
}

.display-none {
  display: none;
}

.neon span {
  animation: neon linear infinite 3s;
}