section.card-post
    .container.card-post-wrap
        .card-post__nav.wow.animated.fadeInUp
            h2.card-post__nav-desc Верстка интернет магазина
            h3.card-post__nav-title “Amazing”
            .card-post__nav-meta 
                span.meta-html HTML
                span.meta-scss SCSS
                span.meta-js JS
                span.meta-jquery jQuery
        .card-post__content
            .card-post__content-desc.wow.animated.bounceInLeft
                +link-project("https://aleksandrvorobyov.github.io/Amazing/", "https://github.com/AleksandrVorobyov/lizilizka")
                +about-project()
                    p Верстка одностроничного веб-сайта. Это реальный проект и доступен для просмотра по ссылке выше. Сделан с использованием фреймворка Bootstrap, библиотеки animate и Jquery. В верстке используются файлы HTML, Css, js, Sсss , Pug и конечно Gulp. На сайте можно увидеть такие компоненты как модальные окна, адаптивное меню, а также форма отправки данных на почту с помощью ajax. Сайт полностью адаптирован под любое разрешение экрана. Верстка прошла проверку на валидность.
                +detals("Частное лицо", "Учебный проект", "Ссылка на сайт", "https://aleksandrvorobyov.github.io/Amazing/", "Адаптивная верстка, HTML5, CSS3, JavaScript, jQuery.", "Мобильная навигация, ajax форма, валидация форм")
            .card-post__content-carousel.wow.animated.bounceInRight
                .carousel-project.owl-carousel
                    .owl-carousel-item
                        img(src="./img/portfolio/amazing/01.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/amazing/02.jpg", alt="01.jpg")
        .card-post__pagination.wow.animated.fadeInUp
            +pagination-card("muncak.html", "surfing.html")