section.card-post
    .container
        .card-post__nav
            h2.card-post__nav-desc Верстка интернет магазина
            h3.card-post__nav-title “Digital Nomad”
            .card-post__nav-meta 
                span.meta-pug Pug
                span.meta-scss SCSS
                span.meta-js JS
                span.meta-bootstrap Bootstrap
                span.meta-jquery jQuery
                span.meta-php PHP
        .card-post__content
            .card-post__content-desc
                +link-project("https://aleksandrvorobyov.github.io/comand-work/main.html", "https://github.com/AleksandrVorobyov/comand-work")
                +about-project()
                    p Верстка многостроничного веб-сайта. Это учебный(Командный) проект и доступен для просмотра по ссылке выше. Сделан с использованием фреймворка Bootstrap, библиотеки animate и Jquery. В верстке используются файлы HTML, Css, js, Sсss. На сайте можно увидеть такие компоненты как табы, модальные окна, адаптивное меню, а также форма отправки данных на почту с помощью ajax. Сайт полностью адаптирован под любое разрешение экрана. Верстка прошла проверку на валидность.
                +detals("Учебный проект", "Учебный проект", "Ссылка на сайт", "https://aleksandrvorobyov.github.io/comand-work/main.html", "Адаптивная верстка, HTML5, CSS3, Bootstrap grid, JavaScript, jQuery.", "Мобильная навигация, мега-меню, карусель OwlCarousel, ajax корзина, предпросмотре товара, календарь, datepicker, валидация форм")
            .card-post__content-carousel
                .carousel-project.owl-carousel
                    .owl-carousel-item
                        img(src="./img/portfolio/digital-nomad/01.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/digital-nomad/02.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/digital-nomad/03.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/digital-nomad/04.jpg", alt="01.jpg")
        .card-post__pagination
            +pagination-card("unit.html", "forest-travel.html")