section.card-post
    .container.card-post-wrap
        .card-post__nav
            h2.card-post__nav-desc Верстка интернет магазина
            h3.card-post__nav-title “Muncak”
            .card-post__nav-meta 
                span.meta-pug PUG
                span.meta-scss SCSS
                span.meta-js JS
                span.meta-bootstrap Bootstrap
                span.meta-jquery jQuery
        .card-post__content
            .card-post__content-desc
                +link-project("https://aleksandrvorobyov.github.io/muncak/", "https://github.com/AleksandrVorobyov/muncak")
                +about-project()
                    p Верстка одностроничного веб-сайта. Это реальный проект и доступен для просмотра по ссылке выше. Сделан с использованием фреймворка Bootstrap, библиотеки animate и Jquery. В верстке используются файлы HTML, Css, js, Sсss , Pug и конечно Gulp. На сайте можно увидеть такие компоненты как модальные окна, адаптивное меню, а также форма отправки данных на почту с помощью ajax. Сайт полностью адаптирован под любое разрешение экрана. Верстка прошла проверку на валидность.
                +detals("Учебный проект", "Учебный проект", "Ссылка на сайт", "https://aleksandrvorobyov.github.io/muncak/", "Адаптивная верстка, HTML5, CSS3, Bootstrap grid, JavaScript, jQuery.", "Мобильная навигация, карусель OwlCarousel, ajax форма, предпросмотр товара, валидация форм, анимации, подключены кнопки мессенджеров и виджеты.")
            .card-post__content-carousel
                .carousel-project.owl-carousel
                    .owl-carousel-item
                        img(src="./img/portfolio/muncak/01.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/muncak/02.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/muncak/03.jpg", alt="01.jpg")
        .card-post__pagination
            +pagination-card("realhome.html", "amazing.html")
    .full-page
        .container.full-page-wrapper
            .full-page-wrap
                .full-page__desc
                    .full-page__logo
                        +logo("index.html")
                    .full-page__title
                        h2 Верстка интернет магазина 
                            span “Muncak”
                    .full-page__exit
                .full-page__img
                    img(src="./img/fullpage/muncak.png", alt="")