section.card-post
    .container.card-post-wrap
        .card-post__nav.wow.animated.fadeInUp
            h2.card-post__nav-desc Верстка интернет магазина
            h3.card-post__nav-title “Unit”
            .card-post__nav-meta 
                span.meta-html HTML
                span.meta-less LESS
                span.meta-js JS
                span.meta-jquery jQuery
        .card-post__content
            .card-post__content-desc.wow.animated.bounceInLeft
                +link-project("https://aleksandrvorobyov.github.io/unit/", "https://github.com/AleksandrVorobyov/unit")
                +about-project()
                    p Верстка одностроничного веб-сайта. Это учебный проект и доступен для просмотра по ссылке выше. Сделан с использованием фреймворка Bootstrap, библиотеки animate и Jquery. В верстке используются файлы HTML, Css, js, Sсss , Pug и конечно Gulp. На сайте можно увидеть такие компоненты как карусели, адаптивное меню. Сайт полностью адаптирован под любое разрешение экрана. Верстка прошла проверку на валидность.
                +detals("Учебный проект", "Учебный проект", "Ссылка на сайт", "https://aleksandrvorobyov.github.io/unit/", "Адаптивная верстка, HTML5, CSS3, Bootstrap grid, JavaScript, jQuery.", "Мобильная навигация, карусель OwlCarousel, предпросмотр товара,валидация форм")
            .card-post__content-carousel.wow.animated.bounceInRight
                .carousel-project.owl-carousel
                    .owl-carousel-item
                        img(src="./img/portfolio/unit/01.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/unit/02.jpg", alt="01.jpg")
                    .owl-carousel-item
                        img(src="./img/portfolio/unit/03.jpg", alt="01.jpg")
        .card-post__pagination.wow.animated.fadeInUp
            +pagination-card("quantum.html", "comand-web.html")
