mixin card(link, img, alt, title, subtitle)
    .card.white-color
        .card__img-wrap
            a(href= link).card__btn Подробнее
            .card__img
                figure.card__img-front
                    img(src="./img/card/" + img, alt= alt)
                figure.card__img-back
                    img(src="./img/card/" + img, alt= alt)
        .card__text
            h4.card__title #{title}
            p.card__subtitle #{subtitle}
