mixin link-project(link1, link2)
    .link-project
        h4.link-project-title Ссылки на проект
        .link-project-item
            <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
            a(href= link1 target="_blank") Смотреть демо онлайн
        .link-project-item
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            a(href= link2 target="_blank") Код проекта на GitHub