mixin pagination-card(link1, link2)
    form(action= link1)
        input(type="submit", value="Предыдущий проект" class="pagination")
    form(action= link2)
        input(type="submit", value="Следующий проект" class="pagination")