extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "ui";
	- var pageFileName= "portfolio.html";


block content
	header
		include ../sections/navigation.pug
	main
		include ../sections/card-post.pug
	footer
		include ../sections/footer-inner.pug