extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "ui";
	- var pageFileName= "index.html";


block content
	header
		include ../sections/navigation.pug
		include ../sections/header.pug
		include ../sections/sidebar.pug
	main
		include ../sections/portfolio.pug
		include ../sections/timeline.pug
		include ../sections/contact.pug
	footer
		include ../sections/footer.pug
