extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
	- var title = 'Порфолио';
	- var pageClass= "ui";
	- var pageFileName= "portfolio.html";


block content
	header
		include ../sections/navigation.pug
		include ../sections/sidebar.pug
	main
		include ../portfolio/lemon.pug
	footer
		include ../sections/footer-inner.pug