.about-project {
  margin-bottom: 50px;
}

.about-project__title {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 26px;
  font-family: "L890-Roman-Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border-bottom: 8px solid $redCyber;

  @media (min-width: 480px) {
    font-size: 32px;
  }

  @media (min-width: 600px) {
    font-size: 44px;
  }

  @media (min-width: 1170px) {
    font-size: 26px;
  }
}

.about-project p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: rgb(255, 255, 255);
  line-height: 1.5;

  @media (min-width: 480px) {
    font-size: 24px;
  }

  @media (min-width: 600px) {
    font-size: 28px;
  }

  @media (min-width: 1170px) {
    font-size: 16px;
  }
}
