.detals-title {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 32px;
  font-family: "L890-Roman-Bold";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border-bottom: 8px solid $redCyber;

  @media (min-width: 600px) {
    font-size: 44px;
  }

  @media (min-width: 1170px) {
    font-size: 26px;
  }
}

.detals-description {
  margin: 0;
  padding: 0;
}

.detals-description-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.detals-description-item p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  flex: 1;

  &:last-child {
    max-width: 350px;
    width: 100%;

    @media (min-width: 1170px) {
      max-width: 293px;
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    font-size: 28px;
  }

  @media (min-width: 1170px) {
    font-size: 16px;
  }
}

.detals-description-item a {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  font-family: "L890-Roman-Regular";
  color: $yellowcolor;
  text-decoration: underline;
  line-height: 1.5;
  text-align: left;
  max-width: 293px;
  width: 100%;
  transition: 0.3s ease-in-out;
  flex: 1;

  &:hover {
    color: $blueCyber;
  }

  @media (min-width: 1170px) {
    font-size: 16px;
  }
}
