block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="keywords" content="Веб разработчик")
        link(rel="shortcut icon", href="./img/favicons/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="./libs/css/owl.carousel.min.css")
        link(rel="stylesheet", href="./libs/css/owl.theme.default.min.css")

    body(class=pageClass)
        include ../sections/preloader.pug
        .page
            .page__background
                .page__background-wrap
                    img(src="./img/body/01.png" alt='01.png' data-speed='-5' class='layer')
                    img(src="./img/body/02.png" alt='02.png' data-speed='5' class='layer')
                    img(src="./img/body/03.png" alt='03.png' data-speed='-2' class='layer')
                    img(src="./img/body/04.png" alt='04.png' data-speed='4' class='layer')
                    img(src="./img/body/05.png" alt='05.png' data-speed='6' class='layer')
                    canvas#rain
                .page__background-wrap-bg
            .page__link#page-link
                a(href="#navigation") Вверх
            block content

        script(src="./js/jquery-3.3.1.min.js")
        script(src="./js/header.js")
        script(src="./js/main.js")
        script(src="./js/form.js")
        script(src="./js/night-mode.js")
        script(src="./js/change-color.js")
        script(src="./js/parallax.js")
        script(src="./js/random-color.js")
        script(src="./js/carousel-project.js")
        script(src="./js/owl.carousel.min.js")
        script(src="./js/contact.js")
        script(src="./libs/tweenmax/tweenmax.js")
        script(src="./js/full-page.js")
        script(src="./js/sidebar.js")
        script(src="./js/btnup.js")
        script(src="./js/rain.js")
        <script>jQuery(document).ready(function($) {new WOW().init();});</script>
        <script src="./js/wow.min.js"></script>
        <script>jQuery(document).ready(function($) {$('.wow').attr('data-wow-duration', '1.5s' );});</script>


